::-moz-selection {
  background: #fff;
}

/* Text Highlighting */
::selection {
  background: #919d9d;
}


/* URL Color */
a {
  color: #9e0000;
}

/* URL Hover Color */
a:hover {
	color: #6d0000;
}

/* --- Register button theme --- */
.btn-theme {
  background: #000;
  *background-color: #919d9d;
}

.btn-theme:hover,
.btn-theme:active,
.btn-theme.active,
.btn-theme.disabled,
.btn-theme[disabled] {
  background: #919d9d;
  *background: #919d9d;
}

/* --- slogan --- */
.slogan h1 span {
	color: #6d0000;
}

.tweet a {
	color:#6d0000;
}

.tweet .tweet_time a:hover i {
	color:#6d0000;
}



/* fontawesome icons */
.icon-square:hover,
.icon-rounded:hover,
.icon-circled:hover {
    background-color: #000;
}

/* Lower right-hand navigation square color */
[class^="icon-"].active,
[class*=" icon-"].active {
    background-color: #3a3a3a;
}

/* Nav bar text hover color */
.navbar .nav > li > a:hover {
  color: #919d9d;
}

/* Selected Nav bar button color */
ul.nav li.current > a,
ul.nav li.current > a:focus {
  background: #ededed;
  color: #000;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
	background: #6d0000;
}

input:focus, textarea:focus {
	border: 1px solid #6d0000;
	border-width:4px;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #6d0000;
}

ul.contact-list li input.form_input:focus ,
ul.contact-list li textarea.form_textarea:focus  {
	border-color:#6d0000;
}


/* tab */

.nav-tabs > a {
	color:#6d0000;
}


/* accordion */
.accordion-heading a:hover {
	color: #6d0000;
}
.accordion-heading .active{
	color: #3a3a3a;
}

.accordion-inner {

}


/* portfolio */

.thumb-wrapp{
	background:#6d0000;
}
